[Desktop Entry]
Type=Application
Name=FastDiscord
GenericName=Discord Client
Comment=Cliente Discord nativo em Rust e egui
Exec=fastdiscord
Icon=fastdiscord
Categories=Network;InstantMessaging;
Keywords=discord;chat;fastdiscord;
Terminal=false
StartupWMClass=fastdiscord
